@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-regular-webfont.eot"), url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto-regular-webfont.svg") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-bold-webfont.eot"), url("../fonts/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-bold-webfont.woff") format("woff"), url("../fonts/roboto-bold-webfont.ttf") format("truetype"), url("../fonts/roboto-bold-webfont.svg") format("svg");
  font-weight: 700;
  font-style: normal; }
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; }

body {
  margin: 0;
  font-family: "Roboto", sans-serif; }

ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }

li {
  margin: 0px;
  padding: 0px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

p {
  margin: 0px; }

img {
  max-width: 100%; }

abbr {
  text-decoration: none; }

address {
  font-style: normal; }

@media (max-width: 47.9375rem) {
  .l-hidden-xs {
    display: none; } }

@media (min-width: 48rem) {
  .l-visible-xs {
    display: none; } }

.Main {
  margin-top: 5rem;
  background-color: white; }

.About-list {
  display: flex;
  flex-wrap: wrap; }
.About-listTitle {
  margin-bottom: 0.9375rem; }
.About-listItem {
  margin-bottom: 0.625rem; }
.About-listLink {
  font-weight: 400; }
.About-item {
  flex-basis: 50%;
  width: 50%;
  min-width: 50%;
  margin-bottom: 1.875rem;
  box-sizing: border-box; }
  .About-item:nth-child(even) {
    padding-left: 0.9375rem; }
  .About-item:nth-child(odd) {
    padding-right: 0.9375rem; }
.About-description {
  max-width: 75%;
  margin-bottom: 1.875rem;
  text-align: center; }

.Address-Wrapper {
  display: flex; }
.Address-Street {
  display: flex; }
.Address-City {
  display: inline-flex; }
.Address-Country {
  display: none; }

.Details-item:not(:last-child) {
  margin-bottom: 0.9375rem; }

.Experience {
  width: 100%; }
  .Experience-wrapper {
    padding-bottom: 1.875rem; }
  .Experience-details {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.625rem;
    margin-bottom: 0.625rem;
    border-bottom: 1px dashed white; }
  .Experience-location {
    text-align: right; }
  .Experience-item, .Experience-nestedItem {
    position: relative;
    margin-left: 1.25rem; }
    .Experience-item::before, .Experience-nestedItem::before {
      content: '';
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      position: absolute;
      left: -1.25rem;
      width: 0.625rem;
      height: 0.625rem;
      background-size: cover;
      background-repeat: no-repeat; }
  .Experience-item {
    margin-bottom: 0.9375rem; }
    .Experience-item::before {
      top: 0;
      background-image: url("../images/circle_check_2.svg");
      transform: translateY(50%); }
    .Experience-item--Education::before {
      background-image: url("../images/circle_dot_2.svg"); }
  .Experience-sublist {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.625rem;
    margin-left: 1.875rem; }
  .Experience-subitem {
    margin-bottom: 0.625rem;
    width: 100%; }
    .Experience-subitem--Half {
      min-width: 50%;
      width: 50%; }
  .Experience-nestedList {
    margin-top: 0.625rem; }
  .Experience-nestedItem {
    margin-bottom: 0.625rem; }
    .Experience-nestedItem::before {
      top: 50%;
      background-image: url("../images/circle_check_3.svg");
      transform: translateY(-50%); }

.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: #34495E; }
  .Footer-text {
    font-size: 1rem;
    line-height: 1;
    color: #95A5A6; }

.Header {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  display: flex;
  height: 5rem;
  background-color: #34495E;
  z-index: 3;
  box-shadow: 0 1px 5px rgba(10, 10, 10, 0.2); }
  .Header-menu {
    width: 100%;
    display: flex;
    justify-content: flex-end; }
  .Header-list {
    display: flex;
    align-items: center; }
  .Header-item {
    padding-right: 1.875rem; }
  .Header-text {
    font-size: 1.25rem;
    line-height: 1;
    text-transform: uppercase;
    color: #95A5A6; }
  .Header-link {
    padding: 0.4375rem; }

.Heading-major {
  font-size: 2.1875rem;
  line-height: 2.1875rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px; }
.Heading-minor {
  font-size: 1.375rem;
  line-height: 1.375rem;
  font-weight: bold;
  margin-bottom: 20px; }
.Heading--underline {
  border-bottom: 1px solid white; }
.Heading--dark {
  color: black; }
.Heading--light {
  color: white; }

.Info-bio {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.875rem; }
.Info-bioCircle {
  width: 11.25rem;
  height: 11.25rem;
  background-image: url("../images/bio-photo.jpeg");
  background-size: cover;
  border: 10px solid #95A5A6;
  border-radius: 50%; }
.Info-bioOuter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12.5rem;
  height: 12.5rem;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden; }
  .Info-bioOuter:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    border-color: #34495E;
    border-style: solid;
    border-width: 0;
    border-radius: 50%;
    transition-property: border-width;
    transition-duration: 0.3s;
    transition-timing-function: linear; }
  .Info-bioOuter:hover:before, .Info-bioOuter:focus:before, .Info-bioOuter:active:before {
    transform: translateY(0);
    border-width: 10px; }
.Info-contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw; }
.Info-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 1.875rem;
  margin-bottom: 1.875rem;
  border-bottom: 1px solid #95A5A6; }
.Info-titleMain {
  padding-bottom: 0.625rem;
  margin: 0;
  font-size: 3.125rem;
  line-height: 1;
  text-transform: uppercase; }
.Info-titleSubtitle {
  font-size: 1.25rem;
  line-height: 1; }
.Info-about {
  display: flex; }
.Info-description, .Info-contact {
  width: 50%;
  flex-shrink: 0; }
.Info-description {
  padding-right: 1.875rem; }
.Info-contact {
  padding-left: 1.875rem; }

.Link, a {
  position: relative;
  display: inline-flex;
  text-decoration: none;
  color: black;
  transition: all 300ms ease; }
  .Link:link, a:link, .Link:hover, a:hover, .Link:active, a:active, .Link:visited, a:visited {
    text-decoration: none; }
  .Link-underline {
    position: relative;
    color: #446CB3;
    transition: color 300ms ease-in-out; }
    .Link-underline::before {
      content: "";
      position: absolute;
      bottom: -0.1875rem;
      left: 0;
      width: 100%;
      height: 0.125rem;
      background-color: #446CB3;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 300ms ease-in-out; }
    .Link-underline:hover {
      color: #446CB3; }
    .Link-underline:hover::before {
      visibility: visible;
      transform: scaleX(1); }
    .Link-underline--White {
      position: relative;
      color: #BDC3C7;
      transition: color 300ms ease-in-out; }
      .Link-underline--White::before {
        content: "";
        position: absolute;
        bottom: -0.1875rem;
        left: 0;
        width: 100%;
        height: 0.125rem;
        background-color: #BDC3C7;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 300ms ease-in-out; }
      .Link-underline--White:hover {
        color: #BDC3C7; }
      .Link-underline--White:hover::before {
        visibility: visible;
        transform: scaleX(1); }
  .Link-underlineLeft {
    position: relative;
    color: #BDC3C7; }
    .Link-underlineLeft::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -0.1875rem;
      height: 0.125rem;
      width: 0;
      background-color: #BDC3C7;
      transition: all 350ms ease-in-out; }
    .Link-underlineLeft:hover {
      color: #BDC3C7; }
      .Link-underlineLeft:hover::after {
        width: 100%; }
  .Link-overline::before, .Link-overline::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0.1875rem;
    background: #95A5A6;
    transform: scale(0.85);
    transition: transform 300ms ease; }
  .Link-overline::after {
    opacity: 0;
    transition: top 300ms ease, opacity 300ms ease, transform 300ms ease; }
  .Link-overline:hover::before, .Link-overline:hover::after {
    transform: scale(1); }
  .Link-overline:hover::after {
    top: 0%;
    opacity: 1; }

.Portfolio {
  display: flex;
  min-height: calc(100vh - 5rem);
  background-color: #96281B; }

.Resume {
  color: white;
  background-color: #96281B; }

.Section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 5rem);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 6.25rem;
  padding-right: 6.25rem; }
  .Section-mini {
    padding-bottom: 1.875rem; }

.Skills-list {
  display: flex;
  flex-wrap: wrap; }
.Skills-item {
  display: inline-flex;
  color: black;
  background-color: white;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  margin-right: 0.625rem;
  margin-bottom: 0.9375rem;
  cursor: pointer;
  position: relative;
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.21);
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform; }
  .Skills-item:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 5%;
    z-index: -1;
    height: 10px;
    width: 90%;
    pointer-events: none;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    /* W3C */
    transition-duration: 0.3s;
    transition-property: "transform, opacity"; }
  .Skills-item:hover, .Skills-item:focus, .Skills-item:active {
    box-shadow: 0 0 0 0;
    transform: translateY(-5px); }
    .Skills-item:hover:before, .Skills-item:focus:before, .Skills-item:active:before {
      opacity: 1;
      transform: translateY(5px); }
.Skills-categoryTitle {
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem; }

/*# sourceMappingURL=main.css.map */
