@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-regular-webfont.eot"), url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto-regular-webfont.svg") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-bold-webfont.eot"), url("../fonts/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-bold-webfont.woff") format("woff"), url("../fonts/roboto-bold-webfont.ttf") format("truetype"), url("../fonts/roboto-bold-webfont.svg") format("svg");
  font-weight: 700;
  font-style: normal; }
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; }

body {
  margin: 0;
  font-family: "Roboto", sans-serif; }

ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }

li {
  margin: 0px;
  padding: 0px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

p {
  margin: 0px; }

img {
  max-width: 100%; }

abbr {
  text-decoration: none; }

address {
  font-style: normal; }

@media (max-width: 47.9375rem) {
  .l-hidden-xs {
    display: none; } }

@media (min-width: 48rem) {
  .l-visible-xs {
    display: none; } }

.sr-only {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap; }

.Main {
  margin-top: 3.125rem;
  background-color: white;
  font-size: 0.875rem; }
  @media (min-width: 48rem) {
    .Main {
      font-size: 1rem;
      margin-top: 5rem; } }

.noScroll {
  overflow: hidden; }

.About-list {
  display: flex;
  flex-wrap: wrap; }
.About-listTitle {
  margin-bottom: 0.9375rem; }
.About-listItem {
  margin-bottom: 0.625rem; }
.About-listLink {
  font-weight: 400; }
.About-item {
  flex-basis: 100%;
  width: 100%;
  min-width: 100%;
  margin-bottom: 1.25rem;
  box-sizing: border-box; }
  @media (min-width: 48rem) {
    .About-item {
      flex-basis: 50%;
      width: 50%;
      min-width: 50%;
      margin-bottom: 1.875rem; }
      .About-item:nth-child(even) {
        padding-left: 0.9375rem; }
      .About-item:nth-child(odd) {
        padding-right: 0.9375rem; } }
.About-description {
  width: 100%;
  margin-bottom: 1.875rem;
  text-align: center; }
  @media (min-width: 48rem) {
    .About-description {
      width: 75%; } }

.Address-city {
  display: inline-flex; }

.Details-item:not(:last-child) {
  margin-bottom: 0.9375rem; }

.Experience {
  width: 100%; }
  .Experience-wrapper {
    padding-bottom: 1.875rem; }
    @media (max-width: 47.9375rem) {
      .Experience-wrapper {
        padding-bottom: 0; } }
  .Experience-details {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.625rem;
    margin-bottom: 0.625rem;
    border-bottom: 1px dashed white; }
  .Experience-location {
    text-align: right; }
  .Experience-item, .Experience-nestedItem {
    position: relative;
    margin-left: 1.25rem; }
    .Experience-item::before, .Experience-nestedItem::before {
      content: '';
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      position: absolute;
      left: -1.25rem;
      width: 0.625rem;
      height: 0.625rem;
      background-size: cover;
      background-repeat: no-repeat; }
  .Experience-item {
    margin-bottom: 0.9375rem; }
    .Experience-item::before {
      top: 0;
      background-image: url("../images/circle_check_2.svg");
      transform: translateY(50%); }
    .Experience-item--Education::before {
      background-image: url("../images/circle_dot_2.svg"); }
  .Experience-sublist {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.625rem; }
    @media (min-width: 48rem) {
      .Experience-sublist {
        margin-left: 1.875rem; } }
  .Experience-subitem {
    margin-bottom: 0.625rem;
    width: 100%; }
    @media (min-width: 48rem) {
      .Experience-subitem--Half {
        min-width: 50%;
        width: 50%; } }
  .Experience-nestedList {
    margin-top: 0.625rem; }
  .Experience-nestedItem {
    margin-bottom: 0.625rem; }
    .Experience-nestedItem::before {
      top: 50%;
      background-image: url("../images/circle_check_3.svg");
      transform: translateY(-50%); }
  @media (max-width: 47.9375rem) {
    .Experience-name {
      padding-right: 0.9375rem; } }
  .Experience-time {
    flex-shrink: 0; }

.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: #34495E; }
  .Footer-text {
    font-size: 1rem;
    line-height: 1;
    color: #95A5A6; }

.Header {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  display: flex;
  background-color: #34495E;
  z-index: 3; }
  @media (max-width: 47.9375rem) {
    .Header {
      height: 3.125rem;
      transition: height 300ms ease-in-out; } }
  @media (min-width: 48rem) {
    .Header {
      height: 5rem;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); } }
  .Header-menu {
    width: 100%;
    display: flex;
    justify-content: flex-end; }
  .Header-menuIcon {
    position: relative;
    height: 1.5625rem;
    width: 2.1875rem; }
  .Header-menuBar {
    display: block;
    position: absolute;
    left: 0;
    height: 0.1875rem;
    width: 100%;
    background: white;
    border-radius: 0px;
    opacity: 1;
    transform: rotate(0deg);
    transition: transform 300ms ease-in-out, left 300ms ease-in-out, top 300ms ease-in-out, width 300ms ease-in-out; }
    .Header-menuBar:nth-child(1) {
      top: 0; }
    .Header-menuBar:nth-child(2), .Header-menuBar:nth-child(3) {
      top: 0.5rem; }
    .Header-menuBar:nth-child(4) {
      top: 1rem; }
  @media (max-width: 47.9375rem) {
    .Header-mobile {
      position: fixed;
      top: 0;
      left: 0.625rem;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3.125rem;
      width: 3.125rem;
      background-color: #34495E;
      border-radius: 50%;
      z-index: 4;
      transition: background-color, top 300ms ease-in-out; } }
  .Header-list {
    display: flex;
    align-items: center; }
    @media (max-width: 47.9375rem) {
      .Header-list {
        position: fixed;
        top: 2.8125rem;
        left: 0;
        right: 0;
        height: 0;
        flex-direction: column;
        padding-left: 1.875rem;
        padding-right: 1.875rem;
        background-color: #34495E;
        overflow: hidden;
        transition: height 300ms ease-in-out; } }
  @media (max-width: 47.9375rem) {
    .Header-item {
      width: 100%;
      padding-top: 0.9375rem;
      padding-bottom: 0.9375rem;
      text-align: center;
      opacity: 0;
      transform: scale(1.1) translateY(-20px);
      transition: opacity, transform 300ms ease-out; }
      .Header-item:not(:last-child) {
        border-bottom: 1px solid #ECF0F1; }
      .Header-item:nth-child(1) {
        transition-delay: 200ms, 200ms; }
      .Header-item:nth-child(2) {
        transition-delay: 250ms, 250ms; }
      .Header-item:nth-child(3) {
        transition-delay: 300ms, 300ms; }
      .Header-item:nth-child(4) {
        transition-delay: 350ms, 350ms; } }
  @media (min-width: 48rem) {
    .Header-item {
      padding-right: 1.875rem; } }
  .Header-text {
    font-size: 1.25rem;
    line-height: 1;
    text-transform: uppercase;
    color: #95A5A6; }
  .Header-link {
    padding: 0.4375rem; }
  @media (max-width: 47.9375rem) {
    .Header.hasScrolled {
      height: 1.875rem; }
      .Header.hasScrolled .Header-mobile {
        top: 0.625rem;
        background-color: #C0392B;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px; }
      .Header.hasScrolled .Header-list {
        left: 1.875rem;
        right: 1.875rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); }
      .Header.hasScrolled .Header-menuBar {
        animation-duration: 700ms;
        animation-timing-function: ease-in-out; }
    @keyframes fadeIn1 {
      0% {
        opacity: 0; }
      100% {
        opacity: 1; } }
    @keyframes fadeIn2 {
      0% {
        opacity: 0; }
      33% {
        opacity: 0; }
      100% {
        opacity: 1; } }
    @keyframes fadeIn3 {
      0% {
        opacity: 0; }
      66% {
        opacity: 0; }
      100% {
        opacity: 1; } }
        .Header.hasScrolled .Header-menuBar:nth-child(1) {
          animation-name: fadeIn1; }
        .Header.hasScrolled .Header-menuBar:nth-child(2), .Header.hasScrolled .Header-menuBar:nth-child(3) {
          animation-name: fadeIn2; }
        .Header.hasScrolled .Header-menuBar:nth-child(4) {
          animation-name: fadeIn3; } }
  @media (max-width: 47.9375rem) {
    .Header.open .Header-list {
      height: 100%; }
    .Header.open .Header-item {
      opacity: 1;
      transform: none; }
    .Header.open .Header-menuBar:nth-child(1), .Header.open .Header-menuBar:nth-child(4) {
      top: 0.5rem;
      width: 0%;
      left: 50%; }
    .Header.open .Header-menuBar:nth-child(2) {
      transform: rotate(45deg); }
    .Header.open .Header-menuBar:nth-child(3) {
      transform: rotate(-45deg); } }
  .Header.hasScrolled.open .Header-list {
    height: calc(100% - 20vh); }

.Heading-major {
  font-size: 1.5625rem;
  line-height: 1.5625rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px; }
  @media (min-width: 48rem) {
    .Heading-major {
      font-size: 2.1875rem; } }
  @media (min-width: 48rem) {
    .Heading-major {
      line-height: 2.1875rem; } }
.Heading-minor {
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: bold;
  margin-bottom: 20px; }
  @media (min-width: 48rem) {
    .Heading-minor {
      font-size: 1.375rem; } }
  @media (min-width: 48rem) {
    .Heading-minor {
      line-height: 1.375rem; } }
.Heading--underline {
  border-bottom: 1px solid white; }
.Heading--dark {
  color: black; }
.Heading--light {
  color: white; }

.Info-bio {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.25rem; }
  @media (min-width: 48rem) {
    .Info-bio {
      padding-bottom: 1.875rem; } }
.Info-bioCircle {
  width: 6.25rem;
  height: 6.25rem;
  background-image: url("../images/bio-photo.jpeg");
  background-size: cover;
  border: 0.3125rem solid #95A5A6;
  border-radius: 50%; }
  @media (min-width: 48rem) {
    .Info-bioCircle {
      width: 11.25rem;
      height: 11.25rem;
      border-width: 0.625rem; } }
.Info-bioOuter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.875rem;
  height: 6.875rem;
  position: relative;
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  transform: perspective(1px) translateZ(0); }
  .Info-bioOuter:before {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 0;
    border-color: #34495E;
    border-style: solid;
    border-width: 0;
    border-radius: 50%;
    transition-property: border-width;
    transition-duration: 0.3s;
    transition-timing-function: linear; }
  @media (min-width: 48rem) {
    .Info-bioOuter:hover::before, .Info-bioOuter:focus::before, .Info-bioOuter:active::before {
      border-width: 0.3125rem;
      transform: translateY(0); } }
  @media (min-width: 48rem) and (min-width: 48rem) {
    .Info-bioOuter:hover::before, .Info-bioOuter:focus::before, .Info-bioOuter:active::before {
      border-width: 0.625rem; } }

  @media (min-width: 48rem) {
    .Info-bioOuter {
      width: 12.5rem;
      height: 12.5rem; } }
.Info-contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw; }
.Info-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 1.25rem;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid #95A5A6; }
  @media (min-width: 48rem) {
    .Info-title {
      padding-bottom: 1.875rem;
      margin-bottom: 1.875rem; } }
.Info-titleMain {
  padding-bottom: 0.625rem;
  margin: 0;
  font-size: 2.1875rem;
  line-height: 1;
  text-transform: uppercase; }
  @media (min-width: 48rem) {
    .Info-titleMain {
      font-size: 3.125rem; } }
.Info-titleSubtitle {
  font-size: 1.25rem;
  line-height: 1; }
.Info-about {
  display: flex; }
  @media (max-width: 47.9375rem) {
    .Info-about {
      flex-direction: column; } }
.Info-description, .Info-contact {
  width: 100%; }
  @media (min-width: 48rem) {
    .Info-description, .Info-contact {
      width: 50%;
      flex-shrink: 0; } }
@media (max-width: 47.9375rem) {
  .Info-description {
    padding-bottom: 1.25rem; } }
@media (min-width: 48rem) {
  .Info-description {
    padding-right: 1.875rem; } }
@media (min-width: 48rem) {
  .Info-contact {
    padding-left: 1.875rem; } }

.Link, a {
  position: relative;
  display: inline-flex;
  text-decoration: none;
  color: black;
  transition: all 300ms ease; }
  .Link:link, a:link, .Link:hover, a:hover, .Link:active, a:active, .Link:visited, a:visited {
    text-decoration: none; }
  .Link-underline {
    position: relative;
    color: #446CB3;
    transition: color 300ms ease-in-out; }
    .Link-underline::before {
      content: "";
      position: absolute;
      bottom: -0.1875rem;
      left: 0;
      width: 100%;
      height: 0.125rem;
      background-color: #446CB3;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 300ms ease-in-out; }
    @media (min-width: 48rem) {
      .Link-underline:hover {
        color: #446CB3; }
        .Link-underline:hover::before {
          visibility: visible;
          transform: scaleX(1); } }
    .Link-underline--White {
      position: relative;
      color: #BDC3C7;
      transition: color 300ms ease-in-out; }
      .Link-underline--White::before {
        content: "";
        position: absolute;
        bottom: -0.1875rem;
        left: 0;
        width: 100%;
        height: 0.125rem;
        background-color: #BDC3C7;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 300ms ease-in-out; }
      @media (min-width: 48rem) {
        .Link-underline--White:hover {
          color: #BDC3C7; }
          .Link-underline--White:hover::before {
            visibility: visible;
            transform: scaleX(1); } }
  .Link-underlineLeft {
    position: relative;
    color: #BDC3C7; }
    .Link-underlineLeft::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -0.1875rem;
      height: 0.125rem;
      width: 0;
      background-color: #BDC3C7;
      transition: all 350ms ease-in-out; }
    @media (min-width: 48rem) {
      .Link-underlineLeft:hover {
        color: #BDC3C7; }
        .Link-underlineLeft:hover::after {
          width: 100%; } }
  @media (min-width: 48rem) {
    .Link-overline::before, .Link-overline::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 0.1875rem;
      background: #95A5A6;
      transform: scale(0.85);
      transition: transform 300ms ease; }
    .Link-overline::after {
      opacity: 0;
      transition: top 300ms ease, opacity 300ms ease, transform 300ms ease; }
    .Link-overline:hover::before, .Link-overline:hover::after {
      transform: scale(1); }
    .Link-overline:hover::after {
      top: 0%;
      opacity: 1; } }

.Portfolio {
  display: flex;
  min-height: calc(100vh - 5rem);
  background-color: #96281B; }

.Resume {
  color: white;
  background-color: #96281B; }

.Section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 5rem);
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin-top: -3.125rem;
  border-top: 3.125rem solid transparent;
  background-clip: padding-box; }
  @media (min-width: 48rem) {
    .Section {
      margin-top: -5rem;
      border-top-width: 5rem; } }
  @media (min-width: 48rem) and (max-width: 64.0625rem) {
    .Section {
      padding-top: 1.875rem;
      padding-bottom: 1.875rem;
      padding-left: 1.875rem;
      padding-right: 1.875rem; } }
  @media (min-width: 64.125rem) {
    .Section {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
      padding-left: 6.25rem;
      padding-right: 6.25rem; } }
  .Section-mini {
    padding-bottom: 1.875rem; }

.Skills-list {
  display: flex;
  flex-wrap: wrap; }
.Skills-item {
  display: inline-flex;
  color: black;
  background-color: white;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  margin-right: 0.625rem;
  margin-bottom: 0.9375rem;
  cursor: pointer;
  position: relative;
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.21);
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform; }
  .Skills-item:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 5%;
    z-index: -1;
    height: 10px;
    width: 90%;
    pointer-events: none;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    /* W3C */
    transition-duration: 0.3s;
    transition-property: "transform, opacity"; }
  .Skills-item:hover, .Skills-item:focus, .Skills-item:active {
    box-shadow: 0 0 0 0;
    transform: translateY(-5px); }
    .Skills-item:hover::before, .Skills-item:focus::before, .Skills-item:active::before {
      opacity: 1;
      transform: translateY(5px); }
  @media (max-width: 47.9375rem) {
    .Skills-item {
      font-size: 0.875rem; } }
.Skills-categoryTitle {
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem; }

/*# sourceMappingURL=main.css.map */
