html
{
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body
{
  margin: 0;
  font-family: $font-family-main;
}

ul
{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li
{
  margin: 0px;
  padding: 0px;
}

h1,h2,h3,h4,h5,h6
{
  margin: 0;
}

a
{
  @extend .Link;
}

p
{
  margin: 0px;
}

img
{
  max-width: 100%;
}

abbr
{
  text-decoration: none;
}

address
{
  font-style: normal;
}
