html
{
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body
{
  margin: 0;
}

a
{

}

ul
{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li
{
  margin: 0px;
  padding: 0px;
}

p
{

}

img
{
  max-width: 100%;
}
