$header-size: toRem(80px);
$footer-size: toRem(80px);

.header
{
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  display: flex;
  height: $header-size;
  background-color: $blue-1;

  &-menu
  {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    &-list
    {
      display: flex;
      align-items: center;

      &-item
      {
        padding-right: 30px;

        &-link
        {
          @include link-transition;
          @include font-header;
        }
      }
    }
  }
}

.site-main
{
  margin-top: $header-size;
  background-color: $white;

  .info
  {
    height: toRem(400px);
    display: flex;

    &-bio
    {
      width: percentage(4/10);
      display: flex;
      justify-content: center;
      align-items: center;

      &-circle
      {
        width: toRem(220px);
        height: toRem(220px);
        border-radius: 50%;
        background-image: url($image-path + '/bio-photo.jpeg');
        background-size: cover;

        &-outer
        {
          width: toRem(240px);
          height: toRem(240px);
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background-color: $gray-1;
        }
      }
    }

    &-title
    {
      width: percentage(6/10);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-main
      {
        margin: 0px;
        @include font-sizes(50px, 1);
        text-transform: uppercase;
      }

      &-subtitle
      {
        @include font-sizes(20px, 1);
      }
    }
  }

  .portfolio
  {
    height: toRem(400px);
    display: flex;
    background-color: $red-2;
  }

  .about
  {
    height: toRem(400px);
    display: flex;
  }

  .resume
  {
    height: toRem(400px);
    display: flex;
    background-color: $red-2;
  }
}

.footer
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: $footer-size;
  background-color: $blue-1;

  &-text
  {
    @include font-footer;
  }
}
