$image-path: '../images';

$font-family-main: 'Roboto', sans-serif;

$font-weight-bold: 700;
$font-weight-normal: 400;
$font-weight-light: 300;

$blue-1: #34495E;
$blue-2: #446CB3;

$red-1: #C0392B;
$red-2: #96281B;

$gray-1: #95A5A6;
$gray-2: #BDC3C7;

$white: white;

$screen-xs-min: 480/16 * 1rem;
$screen-xs-max: 767/16 * 1rem;
$screen-sm-min: 768/16 * 1rem;
$screen-sm-max: 1025/16 * 1rem;
$screen-md-min: 1026/16 * 1rem;
$screen-md-max: 1199/16 * 1rem;
$screen-lg-min: 1200/16 * 1rem;
