.About
{
  &-list
  {
    display: flex;
    flex-wrap: wrap;
  }

  &-listTitle
  {
    margin-bottom: toRem(15px);
  }

  &-listItem
  {
    margin-bottom: toRem(10px);
  }

  &-listLink
  {
    font-weight: $font-weight-normal;
  }

  &-item
  {
    flex-basis: 50%;

    width: 50%;
    min-width: 50%;

    margin-bottom: toRem(30px);

    box-sizing: border-box;

    &:nth-child(even)
    {
      padding-left: toRem(15px)
    }

    &:nth-child(odd)
    {
      padding-right: toRem(15px)
    }
  }

  &-description
  {
    max-width: 75%;

    margin-bottom: toRem(30px);

    text-align: center;
  }
}
