.Info
{
  &-bio
  {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: toRem(20px);

    @include bpgte(sm)
    {
      padding-bottom: toRem(30px);
    }
  }

  &-bioCircle
  {
    width: toRem(100px);
    height: toRem(100px);

    background-image: url($image-path + '/bio-photo.jpeg');
    background-size: cover;

    border: toRem(5px) solid $gray-1;
    border-radius: 50%;

    @include bpgte(sm)
    {
      width: toRem(180px);
      height: toRem(180px);

      border-width: toRem(10px);
    }
  }

  &-bioOuter
  {
    display: flex;
    justify-content: center;
    align-items: center;

    width: toRem(110px);
    height: toRem(110px);

    @include reveal;

    @include bpgte(sm)
    {
      width: toRem(200px);
      height: toRem(200px);
    }
  }

  &-contentWrapper
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include bpgte(sm)
    {
      width: 80vw;
    }
  }

  &-title
  {
    display: flex;
    flex-direction: column;

    text-align: center;

    padding-bottom: toRem(20px);
    margin-bottom: toRem(20px);

    border-bottom: 1px solid $gray-1;

    @include bpgte(sm)
    {
      padding-bottom: toRem(30px);
      margin-bottom: toRem(30px);

      opacity: 0;

      transform: translate3d(0, -25px, 0);
    }
  }

  &-titleMain
  {
    padding-bottom: toRem(10px);
    margin: 0;

    @include font-sizes(50px, 1, 35px, 1);
    text-transform: uppercase;
  }

  &-titleSubtitle
  {
    @include font-sizes(20px, 1);
  }

  &-about
  {
    display: flex;

    @include bplte(xs)
    {
      flex-direction: column;
    }
  }

  &-description, &-contact
  {
    width: 100%;

    @include bpgte(sm)
    {
      width: 50%;

      flex-shrink: 0;
    }
  }

  &-description
  {
    @include bplte(xs)
    {
      padding-bottom: toRem(20px);
    }

    @include bpgte(sm)
    {
      padding-right: toRem(30px);

      opacity: 0;

      transform: translate3d(-50px, 0, 0);
    }
  }

  &-contact
  {
    @include bpgte(sm)
    {
      padding-left: toRem(30px);

      opacity: 0;

      transform: translate3d(50px, 0, 0);
    }
  }
}

.startAnimation
{
  @include bpgte(sm)
  {
    .Info-description, .Info-contact, .Info-title
    {
      opacity: 1;

      transform: translate3d(0, 0, 0);

      transition: transform 700ms ease, opacity 500ms ease;
    }

    .Info-title
    {
      transition-delay: 1000ms;
    }

    .Info-description
    {
      transition-delay: 1200ms;
    }

    .Info-contact
    {
      transition-delay: 1400ms;
    }
  }
}
