.Skills
{
  @include bpgte(sm)
  {
    max-width: 100%;
  }

  &-list
  {
    display: flex;
    flex-wrap: wrap;
  }

  &-item
  {
    display: inline-flex;

    color: $black;
    background-color: $white;

    padding: {
      top: toRem(5px);
      bottom: toRem(5px);
      left: toRem(10px);
      right: toRem(10px);
    }

    margin: {
      right: toRem(10px);
      bottom: toRem(15px);
    }

    @include float-shadow;

    @include bplte(xs)
    {
      font-size: toRem(14px);
    }
  }

  &-categoryTitle
  {
    margin-top: toRem(15px);
    margin-bottom: toRem(15px);
  }
}
